
    <div style="height: 100%;" class='icon-row'>
        <!-- <button (click)="addCanvas()">Add Map</button> -->
        <div class="carouselbox {{ActNoAct}}" style="margin: 0.2em;">
            <div class="buttons icon-row ">
                <div class="col-md-1 col-xs-1">
                    <button class="chevron-prev" [class.visible]="showNavButtons" (click)="onClickPrev()">
                        <span class="offscreen">Previous</span>
                    </button>
                </div>
                <div class="col-md-3 col-xs-3" [class.visible]="showMapText">{{MapName}}
                </div>
                <div class="col-md-1 col-xs-1">
                    <button class="chevron-next" (click)="onClickNext()" [class.visible]="showNavButtons">
                        <span class="offscreen">Next</span>
                    </button>
                </div>
            </div>

        </div>
        <ol class="MapContainer" [style.height] = "mapcolheight + 'px'" [style.width] = "'100%'"></ol>
        <!-- <img id="loadingImg" src="../img/loading.gif" style="position:absolute; right:200px; top:256px; z-index:100;" /> -->
    </div>
