
    .carousel-active {
      position: absolute;
      top: 500px;
    }
    .carousel-active current {
      top: 30px;
    }
    .carousel-current {
      position: absolute;
      top: 30px;
    }
