
    .carouselbox {
      font-family: helvetica,sans-serif;
      font-size: 14px;
      width: 100%;
      height: 100%;
      position: relative;
      margin: 1em;
      border: 1px solid #ccc;
      box-shadow: 2px 2px 10px #ccc;
      overflow: hidden;
    }
    .content {
      margin: 0;
      padding: 0;
    }
    .content li {
      font-size: 100px;
      margin: 0;
      padding: 0;
      width: 100%;
      list-style: none;
      text-align: center;
      z-index: 2;
    }
    .active {
      height: 100%;
    }
    .active li {
      position: absolute;
    }
    .active current {
      top: 30px;
    }
    .buttons {
      display: none;
    }
    .active .buttons {
      display: block;
      padding: 0 0;
      background: #eee;
      text-align: center;
      z-index: 10;
      position: relative;
    }
    .carouselbox button {
      border: none;
    }
    .mapsshowing button {
      visibility: visible;
    }
    .mapshidden button {
      visibility: hidden;
    }
    .mapsshowingtext {
      visibility: visible;
    }
    .mapshiddentext {
      visibility: hidden;
    }
    .offscreen {
      position: absolute;
      left: -2000px;
    }

    .chevron-next {
        /*clip-path: inset(2px 2px 2px 2px);*/
        -webkit-clip-path: inset(2px 2px 2px 2px);
        background-image: url(../img/chevron-right.png);
        background-color: #6E9096;
        background-size: 100% 100%;
        width: 25px;
        height:25px;
    }

    .chevron-prev {
        /*clip-path: inset(2px 2px 2px 2px);*/
        -webkit-clip-path: inset(2px 2px 2px 2px);
        background-image: url(../img/chevron-left.png);
        background-color: #6E9096;
        background-size: 100% 100%;
        width: 25px;
        height:25px;
    }

    .icon-row {
         -webkit-align-items: center;
    }
